* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
header {
  font-family: 'Roboto', sans-serif;
}
a {
  h2 {
    color: #fff;
  }
}
.grid-items {
  padding-top: 7px;
}
.main {
  @include outer-container;
}
.purity {
  @include border-width(2px);
  @include border-style(solid);
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  text-align: center;
  width: 70px;
}
.safe {
  @include border-color(green);
  color: green;
}
.sketchy {
  @include border-color(yellow);
  color: yellow;
}

.nsfw {
  @include border-color(red);
  color: red;
}
.photo {
  width: 100%;
  border: 2px solid #333;
}
.photo_desc {
  margin: 10px 0;
}

.flash {
  padding: 5px 10px;
  color: #fff;
  @include outer-container;
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include background(linear-gradient(#0080FF, #013ADF));
  margin: 5px auto;
}
.flash-notice {
  @include background(linear-gradient(#53A430, #417A28));
}
.flash-alert {
  @include background(linear-gradient(#B57135, #D75125));
}
.flash-success {
  @extend .flash-notice;
}
.form-inputs, .form-actions {
  @extend .form-container
}

.pic-tools {
  background-color: #8181F7;
  border: 2px solid #0B0B61;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
  a {
    color: #fff;
    text-decoration: none;
    padding: 0 18%;
    &:hover {
      color: #40FF00;
      background-color: #F2F5A9;
    }
  }
}
.add-pic {
  a {
    background-color: #01DF01;
    border: 2px solid #0C4E07;
    text-decoration: none;
    color: #0C4E07;
    padding: 3px;
    &:hover, &:active {
        background-color: #80D509;
    }
  }
  margin: 8px 5px 8px 0;
}
.comment {
  background-color: #ECF6CE;
  border: 2px solid black;
  padding: 4px;
  font-size: 14px;
  margin: 5px;
}
