* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
header {
  font-family: 'Roboto', sans-serif;
}
a {
  h2 {
    color: #fff;
  }
}
.grid-items {
  padding-top: 7px;
}
.main {
  @include outer-container;
}
.purity {
  @include border-width(2px);
  @include border-style(solid);
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  text-align: center;
  width: 70px;
}
.safe {
  @include border-color(green);
  color: green;
}
.sketchy {
  @include border-color(yellow);
  color: yellow;
}

.nsfw {
  @include border-color(red);
  color: red;
}
.photo {
  width: 100%;
  border: 2px solid #333;
}
.photo_desc {
  margin: 10px 0;
}
